.container {
  padding: 40px;
  text-align: center;
}

.heading {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 30px;
  color: #222;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.company {
  width: 22%;
  min-width: 180px;
  border-radius: 16px; /* Mocniejsze zaokrąglenie */
  overflow: hidden;
  background-color: white;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15); /* Lepszy efekt głębi */
  position: relative;
}

.companyImage {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 16px;
  transition: transform 0.3s ease-in-out;
}

/* Efekt hover */
.company:hover {
  transform: translateY(-8px); /* Unoszenie boxa */
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.25);
}

.company:hover .companyImage {
  transform: scale(1.05); /* Delikatne powiększenie obrazka */
}

/* Dostosowanie dla urządzeń mobilnych */
@media (max-width: 768px) {
  .grid {
    flex-direction: column;
    gap: 15px;
  }

  .company {
    width: 90%;
  }
}
