.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #f8f9fa;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
}

.hidden {
  transform: translateY(-100%);
}

.visible {
  transform: translateY(0);
}

.abovenav {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 3vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #f8f9fa;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 0 20px;
  z-index: 1000;
}

.abovenavContent {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 40px;
  font-size: 16px;
  font-weight: 600;
  color: #333;
}

.contactInfo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 600;
  color: #333;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.contactInfo:hover {
  color: #0056b3;
}

.navbar {
  margin: 0 auto;
  width: 100%;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #f8f9fa;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 3vh;
  z-index: 1000;
}

.logo {
  width: 80%;
  height: 90%;
  margin-right: 50%;
  transform: translateY(-30%);
}

.logoLink {
  display: flex;
  align-items: center;
}

.navLinks {
  display: flex;
  gap: 20px;
  list-style: none;
  font-size: 20px;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

.navLinks li {
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  font-size: inherit;
}

.navLinks li:hover {
  color: #0056b3;
}
.navLinks a {
  text-decoration: none;
  color:rgba(68,167,184,255);
}
.navLinks a:hover{
  color: #0056b3;
  transition: color 0.3s ease-in-out;
}

.menuButton {
  background: none;
  border: none;
  cursor: pointer;
  display: none;
  color:rgba(68,167,184,255);
}

@media (max-width: 768px) {
  .menuButton {
    display: block;
  }

  .logo {
    width: 55%;
    margin-right: 10%;
    margin-left: -10%;
    transform: translateY(0);
  }

  .abovenavContent {
    font-size: clamp(12px, 3vw, 16px);
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    text-align: center;
    margin-left:30px;
  }

  .navLinks {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background: white;
    width: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 15px;
  }

  .navLinks.open {
    display: flex;
  }
}
.fullscreenMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #44a7b8c8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.closeButton {
  position: absolute;
  top: 30px;
  right: 22px;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
}

.menuLinks {
  list-style: none;
  text-align: center;
  padding: 0;
}

.menuLinks li {
  margin: 20px 0;
}

.menuLinks a {
  text-decoration: none;
  font-size: 32px;
  font-weight: bold;
  color: white;
  transition: color 0.3s;
}
