.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #f8f9fa;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: transform 0.3s ease-in-out;  /* Animacja zmieniająca pozycję nagłówka */
}

.hidden {
  transform: translateY(-100%);  /* Chowanie nagłówka poza ekran */
}

.visible {
  transform: translateY(0);      /* Pokazywanie nagłówka */
}


/* Sekcja Above Nav */
.abovenav {
  position: fixed; /* Ustawiamy na fixed, aby sekcja była zawsze na górze */
  top: 0; /* Ustawiamy na samej górze */
  right: 0; /* Ustawiamy do prawej krawędzi ekranu */
  width: 100vw;
  height: 3vh; /* Zwiększamy wysokość sekcji, aby tekst był wyraźnie widoczny */
  display: flex;
  align-items: center; /* Wyrównanie elementów w pionie */
  justify-content: flex-end; /* Wyrównanie zawartości do prawej strony */
  background-color: #f8f9fa;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 0 20px; /* Dodatkowy padding dla przestrzeni po prawej */
  z-index: 1000;
  opacity: 90%;
}

/* Styl dla danych kontaktowych */
.abovenavContent {
  display: flex; /* Ustawiamy flex, żeby tekst był obok siebie */
  align-items: center; /* Ustawiamy tekst w jednej linii */
  flex-direction: row;
  gap: 40px; /* Odstępy pomiędzy elementami */
  font-size: 16px; /* Zmniejszamy rozmiar czcionki, aby pasował do sekcji */
  font-weight: 600;
  color: #333; /* Kolor tekstu */
}

/* Styl dla pojedynczych danych kontaktowych */
.contactInfo {
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

/* Efekt hover na danych kontaktowych */
.contactInfo:hover {
  color: #0056b3; /* Zmiana koloru przy najechaniu */
}


/* Navbar */
.navbar {
  margin: 0 auto;
  width: 100vw;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #f8f9fa;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  padding: 0 10px;
  top: 3vh; /* Dodanie przestrzeni pod above nav */
  left: 0;
  z-index: 1000;
  opacity: 90%;
}

.logo {
  width: 15%;
  height: 90%;
}

.navLinks {
  display: flex;
  gap: 60px;
  list-style: none;
  font-size: 24px; /* Increased font size */
  font-weight: 600;
  padding: 0;
  margin: 0;
}

.navLinks li {
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  font-size: inherit; /* Ensure the font-size is inherited correctly */
}

.navLinks li:hover {
  color: #0056b3;
}
