.sliderContainer {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .slider {
    display: flex;
    transition: transform 1s ease-in-out; /* Płynne przejście */
  }
  
  .slide {
    min-width: 100%;
    height: 70vh; /* Zmniejszenie wysokości o 30% */
  }
  
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Dopasowanie zdjęcia do kontenera */
  }
  